doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="home.css")
        title Start pomodoro
    body
        header 
            a(href="/")#back
                <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 16L28.6875 0.411545L28.6875 31.5885L0 16Z" fill="#0087B1"/>
                </svg>
            //-h2 Tarea
        #boton_inicio
            #boton
                #min= `${min} ` 
                #mid  :  
                #sec= `${sec}`
        #done
            #listo 
                h2 Felicidades!
                p Cunpliste con tu asignación de manera exitosa
                a(href="/") Volver 
    script(src="start.js") 